// Montserrat Light
@font-face {
	font-family: 'Montserrat-Light';
	src: url('fonts/Montserrat-Light.ttf') format('typeform');
}

// Montserrat Medium
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('fonts/Montserrat-Medium.ttf') format('typeform');
}