// Headings
$heading-font-color: #ffffff;

// Round buttons
$button-background-color: #e23842;
$button-font-color: #ffffff;
$button-font-size: 20px;
$button-font-family: 'Montserrat Light';
$round-button: 40px; // Border-radius related

// Headings
$h1-font-size: 130px;
$h1-font-color: #ffffff;
$h1-font-family: 'Montserrat Medium';

// Index
$dark-background: #424242;